<app-topbar></app-topbar>
<div class="slider">
    <ul class="slides transparent">
      <li>
        <img src="../../../assets/image/touba10.jpg" class="responsive-img">
        <div class="caption center-align">
          <h1 class=" green-text text-darken-4"style="font-family: 'Times new Roman'; font-weight:bold;">1000 FCFA POUR CHAQUE MOURIDE</h1>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
          <a href="#" class="btn blue btn-large">Learn More</a>
        </div>
      </li>
      <li>
        <img src="../../../assets/image/Touba1.1.jpg" class="circle responsive-img" alt="" >
        <div class="caption left-align">
          <h2 class=" green-text text-darken-4"style="font-family: 'Times new Roman'; font-weight:bold;">BIENVENU SUR TOUBA CAKANAM</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
          <a href="#" class="btn blue btn-large">Learn More</a>
        </div>
      </li>
      <li>
        <img src="../../../assets/image/Touba1.1.jpg" class="responsive-img" alt="">
        <div class="caption right-align">
          <h1 class=" green-text text-darken-4"style="font-family: 'Times new Roman'; font-weight:bold;">LE MOURIDISME EST UNE VERTUE</h1>
          <h3 class="light grey-text text-darken-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h3>
          <a href="#" class="btn blue btn-large">Learn More</a>
        </div>
      </li>
      <li>
        <img src="../../../assets/image/touba10.jpg" class="circle responsive-img">
        <div class="caption right-align">
          <h2 class="green-text text-darken-4"style="font-family: 'Times new Roman'; font-weight:bold;">LA VILLE SAINTE DE TOUBA</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
          <a href="#" class="btn blue btn-large">Learn More</a>
        </div>
      </li>
    </ul>
</div>
 <!-- Section: Search -->
<section class="section section-search green darken-4 white-text center">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3 class="grey-text text-lighten-1">Faites vos recherches</h3>
        <div class="input-field">
          <i class="material-icons prefix grey-text text-lighten-1">search</i>
          <input class="grey lighten-2 grey-text text-darken-4  autocomplete" placeholder="Aruba, Cancun, etc..." type="text"  id="autocomplete-input"
           style="border-radius: 100px;">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Icon Boxes -->
<section class="section section-icons transparent center">
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <div class="card-panel grey-text text-lighten-1 transparent hoverable">
          <i class="material-icons large green-text text-darken-4">room</i>
          <h4>Pick Where</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, velit.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-panel green darken-4 grey-text text-lighten-1 hoverable">
          <i class="material-icons large grey-text text-lighten-1">home</i>
          <h4>Travel Shop</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, velit.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-panel grey-text text-lighten-1 transparent hoverable">
          <i class="material-icons large green-text text-darken-4">person</i>
          <h4>Fly Cheap</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, velit.</p>
        </div>
      </div>
    </div>
  </div>
</section>

 <!-- Section: Apropos de touba ca kaname -->
 <section class="card-panel section section-about transparent">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h3 class="blue-grey-text">
          <span class="green-text text-darken-3" 
          style="font-family: papyrus;
          font-weight:bold">A propos</span>  toubaCaKaname</h3>
        <p class="flow-text grey-text text-lighten-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odio eum magnam aut at voluptates omnis sint reiciendis
          dolorem recusandae.</p>
      </div>
      <div class="col s12 m6">
        <img src="../../../assets/image/touba-caa-kanam.jpg" alt="" class="circle responsive-img">
      </div>
    </div>
  </div>
</section>

<!-- Section: Developers -->
<section class="section section-developers white-text">
  <div class="primary-overlay valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 center">
          <h3>For Developers, By Developers</h3>
        </div>
      </div>
    </div>
  </div>
</section>

  